* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    /* max-width: 1000px; */
    margin: 50px auto;
    border: 1px solid rgb(218, 214, 214);
    border-radius: 10px;
}

.race {
    max-width: 100%;
    display: flex;
    padding: 20px;
}

.all-bot {
    flex: 1;
    margin-top: 5px;
    margin-left: 0px;
}

.car p.lead {
    color: black;
}

.car1,
.car2,
.car3,
.car4,
.car5 {
    width: 0%;
    padding-right: 0px;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 6px;
    font-size: 15px;
    color: white;
}

.car img {
    height: 15px;
    margin-bottom: 10px;
}


.car1 {
    background-color: rgb(248, 163, 182);
}

.car2 {
    background-color: rgb(154, 154, 247);
}

.car3 {
    background-color: rgb(154, 245, 154);
}

.car4 {
    background-color: rgb(252, 252, 159);
}

.car5 {
    background-color: rgb(253, 248, 253);
}

.card-body img {
    width: 25px;
    height: 25px;
}

score-clip {
    font-weight: bold;
    margin-left: 5px;
}

line-finish {
    z-index: -1;
    padding: 1px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-rl;
    letter-spacing: 30px;
}

line-start {
    z-index: -1;
    font-weight: bold;
    text-align: right;
    color: white;
    writing-mode: sideways-lr;
    letter-spacing: 51px;
}

.all-action {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

/* Attribute Tambahan */
.center {
    text-align: center;
}

.bold {
    font-weight: 700 !important;
}

@media(max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}